<!-- admin order index -->
<div class="container">
  <div class="row">
    <div class="col-xs-3 col-xs-offset-1">
      <h3>注文履歴一覧</h3>
    </div>
  </div>
      <br>
  <div class="row">
      <div class="col-xs-8 col-xs-offset-1">
        <table class="table">
          <thead>
            <tr class="active">
              <td class="col-xs-2">購入日時</td>
              <td class="col-xs-2">購入者</td>
              <td class="col-xs-2">注文個数</td>
              <td class="col-xs-2">注文ステータス</td>
            </tr>
          </thead>
         <% @orders.each do |order| %>
          <tbody>
            <tr>
              <td class="col-xs-2"><%= link_to l order.created_at, url: admin_order_path(order) %></td>
              <td class="col-xs-2"><%#= order.member.name_family + order.member.name_fist %>name</td>
              <td class="col-xs-2"><%#= order.order_item.quantity %>個数</td>
              <td class="col-xs-2"><%= order.order_status %></td>
            </tr>
          </tbody>
          <% end %>
        </table>
        <%= paginate @orders %>
      </div>
  </div>
</div>
