<!-- admin order index -->
<div class="container">
  <div class="row">
    <div class="col-xs-3">
      <h3>注文履歴一覧</h3>
    </div>
  </div>
      <br>
  <div class="row">
      <div class="col-xs-10">
        <table class="table table-hover">
          <thead>
            <tr class="active">
              <td class="col-xs-2">購入日時</td>
              <td>購入者</td>
              <td>注文個数</td>
              <td>注文ステータス</td>
            </tr>
          </thead>

          <tbody>
            <tr>
              <td>リンク付き日時</td>
              <td>氏名</td>
              <td>個数</td>
              <td>ステータス</td>
            </tr>
          </tbody>
        </table>
        <%= paginate @orders %>
      </div>
  </div>
</div>
