<div class="container">
<div class="row">
  <div class="col-xs-1"></div>
  <div class="col-xs-4">
    <h4>ジャンル一覧表示・追加</h4>
  </div>
</div>
<div class="row">
  <div class="col-xs-6">ジャンル追加フォーム</div>
  <table class="col-xs-6">
  　<thead>
    　  <tr>
          <th></th>
          <th>ジャンル</th>
          <th>状態</th>
          <th colspan="3"></th>
        </tr>
    </thead>

    <tbody>
      <!-- each -->
        <tr>
          <td>ケーキ
          </td>
          <td>有効</td>
          <td>編集ボタン</td>
        </tr>
    <!-- each -->
  </tbody>
</table>
</div>
</div>
