// Place all the styles related to the admin/members controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// 管理者用 会員一覧ページCSS

// 管理者用 会員詳細ページ用CSS
.admin-show-flag {
  width: 50px;
  border-radius: 6px;
}

.admin-show-button {
  margin: 15px;
}

// 管理者用 会員編集ページ用CSS
.edit-member-address

.edit-member-button {
  margin-top: 30px;
}




