<%# 顧客用トップページ %>

<%# 後ほど実装、Each文とリンク？ %>
<div class="homes-top-genres-search">
<p>ジャンル検索</p>
  <% @genres.each do |genre| %>
  <%= genre.name %>
  <% end %>
</div>

<div class="homes-top-image">
  <div class="homes-top-text">
    <p>
      ようこそ、Nagano_cakeへ！<br>
      このサイトは、ケーキ販売のECサイトになります。<br>
      会員でない方も商品の閲覧はできますが、<br>
      購入には会員登録が必要になります。
    </p>
  </div>
</div>

<%# 後ほど実装、Each文とリンク %>
<%# リンク先は商品詳細ページ item_path(@item.id) %>
<div class="homes-top-under-menu">
  <% @items.each do |item| %>
  <h2>オススメ商品</h2>
  <div class="homes-top-under-image">
    <!-- <#= attachment_image_tag item, :profile_image, :fill, 30, 30, fallback: "no_image.jpg", size:'30x30' %> -->
  </div>
  <p><%= item.name %></p>
  <p><%= item.price %></p>
  <% end %>


