<table class="homes-top-genre-search">
  <thead>
    <tr class="homes-top-genre-title">
      <td>ジャンル検索</td>
    </tr>
  </thead>
  <% @genres.each do |genre| %>
    <tbody>
      <tr>
        <td class="homes-top-genre-text">
          <%= link_to genre_item_path(genre) do %>
            <%= genre.name %>
          <% end %>
        </td>
      </tr>
    </tbody>
    <% end %>
</table>