<div class="homes-top-genre-search">
  <div>
    <h3 class="homes-top-genre-title">ジャンル検索</h3>
    <% genres.each do |genre| %>
      <ul class="homes-top-genre-text">
        <%= link_to genre_item_path(genre) do %>
          <li>
            <%= genre.name %>
          </li>
        <% end %>
      </ul>
    <% end %>
      <%= paginate genres %>
  </div>
</div>