// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


// 顧客用トップページCSS

// 顧客AboutページCSS

.home-about-title {
  text-align: center;
}

.home-about-text {
  text-align: center;
}

.home-about-image {
  width: 600px;
  height: 200px;
  background: gray;
  margin: 0 auto;
}

