// Place all the styles related to the items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// .ii {
//   border: 1px solid red;
// }

// [ec]
// index
.genre-table {
  width: 150px;
  margin-top: 20px;
}

.genre-table th, .genre-table td{
  text-align: center;
}

.genre-table thead, .genre-table tbody {
  border: 1px solid black;
}

.items {
  display: flex;
  flex-wrap: wrap;
}

.item-index-wrapper {
  margin-left: 30px;
}

.item-box {
  margin: 10px;
  width: 20%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  // border: 1px solid red;
}

.add-btn {
  float: right;
  font-size: 30px;
  margin: 10px;
}

// show
.item-show {
  display: flex;
  align-items: center;
}

.item_image_show {
  margin-top: 20px; 
  margin-right: 20px;
}

.item-detail {
  width: 300px;
  height: 200px;
}

.items-btn-area {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
}
