// Place all the styles related to the shipping_addresses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.shipping-contents {
  padding: 20px;
}

.shipping-container h1 {
  margin-left: 100px;
  margin-bottom: 30px;
  background-color: #eeeeee;
  font-size: 24px;
  display: inline-block;
}

.sh-tb td,.sh-tb tr,.sh-tb th {
  height: 50px;
  padding: 5px;
}

.sh-tr th,.sh-tr td {
  border: solid 1px black;
}

.shipping-form-table td {
  height: 30px;
  padding: 5px;
}

.sh-form {
  margin: 20px;
}

.sh-form-td {
  width: 200px;
  padding-left: 10px;
}